BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
## ECPIX-5 v2

# The clock "usb" and "gpdi" sheet
LOCATE COMP "clk_100mhz" SITE "K23";
IOBUF  PORT "clk_100mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_100mhz" 100 MHZ;

## LED indicators "blinkey" and "gpio" sheet
LOCATE COMP "ledR[0]" SITE "U21";
LOCATE COMP "ledR[1]" SITE "T23";
LOCATE COMP "ledR[2]" SITE "P21";
LOCATE COMP "ledR[3]" SITE "K21";
LOCATE COMP "ledG[0]" SITE "W21";
LOCATE COMP "ledG[1]" SITE "R21";
LOCATE COMP "ledG[2]" SITE "R23";
LOCATE COMP "ledG[3]" SITE "K24";
LOCATE COMP "ledB[0]" SITE "T24";
LOCATE COMP "ledB[1]" SITE "T22";
LOCATE COMP "ledB[2]" SITE "P22";
LOCATE COMP "ledB[3]" SITE "M21";
IOBUF  PORT "ledR[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledR[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledR[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledR[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledG[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "ledB[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
